<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="BdIcmEntities" connectionString="
           metadata=res://*/Database.IcmModel.csdl|res://*/Database.IcmModel.ssdl|res://*/Database.IcmModel.msl;provider=System.Data.SqlClient;provider connection string=
           &quot;server=tcp:whcazurehosting.database.windows.net,1433;
           database=BdIcmDev;
           integrated security=False;
           MultipleActiveResultSets=True;
           User ID=dkehring;
           Password=k2UyyuP9fes9Cuac;
           Encrypt=True;
           TrustServerCertificate=False;
           Connection Timeout=30;&quot;" providerName="System.Data.EntityClient"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>